<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DigitallyImported.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DigitallyImported.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <DigitallyImported.Configuration.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="AlternatingChannelBackground" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="SelectedChannelBackground" serializeAs="String">
                <value>Beige</value>
            </setting>
            <setting name="SelectedChannelName" serializeAs="String">
                <value>techno</value>
            </setting>
            <setting name="MainFormScrollPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectedChannelUri" serializeAs="String">
                <value>http://di.fm/mp3/progressive.pls</value>
            </setting>
            <setting name="RememberPreviousChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshIntervalTEST" serializeAs="String">
                <value>12/29/2006 05:00:00</value>
            </setting>
            <setting name="ChannelSortOrder" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="ChannelSortBy" serializeAs="String">
                <value>ChannelName</value>
            </setting>
            <setting name="PlayerType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="FormOpacityValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlaylistTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>All</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SubscriptionType" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="ChannelBackground" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="WinampRegistryKeyWoW" serializeAs="String">
                <value>SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Winamp</value>
            </setting>
            <setting name="PlaylistRefreshInterval" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="PlaylistFavorites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Progressive</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExternalPlaylistXml" serializeAs="String">
                <value>ExternalChannels.xml</value>
            </setting>
            <setting name="ShowUserToast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DIPlaylistXml" serializeAs="String">
                <value>http://old.di.fm/partners/xml/playlists.xml</value>
            </setting>
            <setting name="DIEventListXml" serializeAs="String">
                <value>http://old.di.fm/partners/xml/dievents.xml</value>
            </setting>
            <setting name="ListenKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="CalendarFormat" serializeAs="String">
                <value>Today</value>
            </setting>
        </DigitallyImported.Configuration.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DigitallyImported.Configuration.Properties.Settings>
            <setting name="ITunesProgID" serializeAs="String">
                <value>iTunes.Application</value>
            </setting>
            <setting name="WinampRegistryKey" serializeAs="String">
                <value>Software\Microsoft\Windows\CurrentVersion\Uninstall\Winamp</value>
            </setting>
            <setting name="QuickTimeProgID" serializeAs="String">
                <value>QuickTime.QuickTime</value>
            </setting>
            <setting name="WMPProgID" serializeAs="String">
                <value>MediaPlayer.MediaPlayer</value>
            </setting>
            <setting name="TrackStartTimeOffset" serializeAs="String">
                <value>-60</value>
            </setting>
        </DigitallyImported.Configuration.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
