<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings />
        <client>
            <endpoint address="http://localhost:8001/playlistservice" binding="basicHttpBinding"
                bindingConfiguration="" contract="DigitallyImported.Services.IPlaylistService`1[[DigitallyImported.Components.IChannel, DigitallyImported.Components, Version=2.1.0.4093, Culture=neutral, PublicKeyToken=31fe9712bfeef44e]]"
                name="">
                <identity>
                    <certificateReference storeName="My" storeLocation="LocalMachine"
                        x509FindType="FindBySubjectDistinguishedName" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>